<!DOCTYPE html>
<html>
  <head>
    <title>Digital Receipt System</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Digital Receipt System</h1>

    <form action="/generate_receipt" method="POST">
      <label for="customer_name">Customer Name:</label>
      <input type="text" name="customer_name" id="customer_name" required />

      <label for="business_name">Business Name:</label>
      <input type="text" name="business_name" id="business_name" required />

      <label for="business_address">Business Address:</label>
      <input
        type="text"
        name="business_address"
        id="business_address"
        required
      />

      <label for="phone_number">Phone Number:</label>
      <input type="text" name="phone_number" id="phone_number" required />

      <label for="email_address">Email Address:</label>
      <input type="email" name="email_address" id="email_address" required />

      <label for="product_description">Product Description:</label>
      <input
        type="text"
        name="product_description"
        id="product_description"
        required
      />

      <label for="sku">SKU:</label>
      <input type="text" name="sku" id="sku" required />

      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" required />

      <label for="amount_due">Amount Due:</label>
      <input type="text" name="amount_due" id="amount_due" required />

      <label for="payment_method">Payment Method:</label>
      <input type="text" name="payment_method" id="payment_method" required />

      <label for="purchase_date">Purchase Date:</label>
      <input type="date" name="purchase_date" id="purchase_date" required />

      <label for="purchase_time">Purchase Time:</label>
      <input type="time" name="purchase_time" id="purchase_time" required />

      <label for="employee_number">Employee Number:</label>
      <input type="text" name="employee_number" id="employee_number" required />

      <label for="receipt_number">Receipt Number:</label>
      <input type="text" name="receipt_number" id="receipt_number" required />

      <button type="submit">Generate Receipt</button>
    </form>

    <ul></ul>

    <!-- Flash messages -->

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul id="messages" class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
